body {
    background-color: white;
    border: 2px solid black;
    width: 1010px;
    height: 830px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    text-align: center;
    height: 50px;
    border: 2px solid black;
    border-left: none;
    border-right: none;
    border-top: none;
}

.secondHeader {
    margin: 2px 0px 8px 0px;
    text-align: center;
    
}

.thirdHeader {
    
    margin: 1px 0px 1px 0px;
    text-align: left;
    
}

.sphere {
    fill: darkblue;
}

.country {
    stroke: black;
    stroke-width: 0.05px;
}

.country:hover {
    fill: white;
}


.yearSelector {
    margin-bottom: 10px;
    background-image: linear-gradient(to right, mediumpurple, white);
    vertical-align: top;
    text-align: center;
    width: 1005px;
    height: 30px;
}


.yearRadio {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline;
        
}

.worldmap {
    padding-left: 20px;
    
}

.playpauseinput {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid black;
    border-radius: 5px;
    background-color: mediumpurple;
    vertical-align: top;
    stroke: mediumpurple;
    stroke-opacity: 0.5;
}

    .playpauseinput::selection {
        border: none;
    }
    .playpauseinput.playinputUrl {
        background-image: url(circled-play.png);
    }

    .playpauseinput.pauseinputUrl {
        background-image: url(circled-pause.png);
    }

.mapHeader {
    font-size: 18px;  
    font-weight:bold;
    color:white;
}
/*.tick {
    cursor: pointer;
}*/
.tick text {
    font-size: 14px;
    font-weight:bold;
    fill: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tick circle {
    stroke: black;
    stroke-opacity: 0.5;
}

.annot {
    font-size: 14px;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    border: 2px solid red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a.selected:link, a.selected:visited {
    background-color: dodgerblue;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.selected:hover, a.selected:active {
    background-color: blue;
}

a.notselected:link, a.notselected:visited {
    background-color: grey;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.notselected:hover, a.notselected:active {
    background-color: blue;
}

.sceneMenu {
    text-align:center;
    
}
